.box-image {
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gradient-dark;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @include vp-1023 {
    padding: 10px;
  }

  @include vp-374 {
    border-radius: 10px;
  }
}
