.commentary-block {
  background-color: $color-ghost-white;
  border-radius: 15px;
  padding: 16px 20px 20px;

  @include vp-767 {
    border-radius: 10px;
    padding: 10px;
    margin-top: -5px;
  }

  @include vp-374 {
    margin-top: 0;
  }
}

.commentary-block__header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @include vp-767 {
    margin-bottom: 4px;
  }

  @include vp-374 {
    margin-bottom: 8px;
  }
}

.commentary-block__box-image {
  background: none;
  border-radius: 100%;
  overflow: hidden;
  padding: 0;
  width: 31px;
  height: 31px;
  margin-right: 10px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @include vp-1023 {
    padding: 0;
  }
}

.commentary-block__header-wrapper {
  display: flex;
  flex-direction: column;
}

.commentary-block__author {
  margin: 0;
  color: $color-lucky-point;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  display: block;

  @include vp-767 {
    font-size: 14px;
    line-height: 17px;
  }
}

.commentary-block__descr {
  margin: 0;
  color: $color-storm-gray;
  font-size: 12px;
  line-height: 14px;
  display: block;

  @include vp-767 {
    font-size: 10px;
    line-height: 20px;
  }

  @include vp-374 {
    line-height: 17px;
  }
}

.commentary-block__body {
  blockquote {
    margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 25px;
    color: $color-storm-gray;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
      line-height: 20px;
    }

    @include vp-374 {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
