.info-block {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-767 {
    gap: 7px;
  }
}

.info-block__subtitle {
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }

  p {
    margin: 0;
    display: inline-block;
    color: $color-storm-gray;
    line-height: 17px;
  }
}

.info-block__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: $color-lucky-point;

  @include vp-767 {
    font-size: 18px;
    line-height: 21px;
  }
}

.info-block__descr {
  margin: 0;
  color: $color-storm-gray;
  line-height: 20px;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
  }
}
