-
  const listSysDefault = {
    classes: "parimatch__header-system",
  }



mixin list-system()
  ul.parimatch__header-system.list-reset.list-system
    li.list-system__item
      +icon("windows", "20px", "20px")
      +icon("cross", "20px", "20px")
    li.list-system__item
      +icon("android", "20px", "20px")
      +icon("check", "20px", "20px")
    li.list-system__item
      +icon("apple", "20px", "20px")
      +icon("check", "20px", "20px")
